
{% extends "base.html" %}
{% load static %}
{% block title %}
  Home
{% endblock title %}

{% block content %}
  
<style>
	.active_ho{
		background-color: orangered !important;
	}
</style>
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							{% for i in offer  %}
							<li data-target="#slider-carousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active {%endif %}"> </li>
							{% endfor %}

						</ol>
						
						<div class="carousel-inner">
							{% for i in offer  %}
							<div class="item {% if forloop.first %}
							  active
							{% endif %}">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>{{i.title}}</h2>
									<p>{{i.desc}}</p>
									<p><strong>Price: Rs. {{ i.price }}</strong></p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{{i.image.url}}" height="400px" width="400px" class="girl img-responsive" alt="" />
								</div>
							</div>	
							{% endfor %}

						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container" id="cate">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for i in cate %}
							  
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{i.id}}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{i.title}}
										</a>
									</h4>
								</div>
								<div id="{{i.id}}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											{% for i in i.subcategory_set.all  %}
											<li><a href="?category={{i.id}}#cate">{{i.title}} </a></li>
											{% endfor %}

											>
										</ul>
									</div>
								</div>
							</div>
							
							{% endfor %}

						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									{% for i in br  %}
									<li><a href="?category={{request.GET.category}}&brand={{i.id}}#cate"> <span class="pull-right">({{i.product_count}})</span>{{i.title}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative">
							<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">
								{% for i in data  %}
								  
								<div class="col hp">
								<div class="card h-100 shadow-sm">
									<a target="" href="{% url 'product_details' i.id %}">
									<img src="{{i.image.url}}" class="card-img-top" alt="product.title" />
									</a>

									<div class="label-top shadow-sm">
									<a class="text-white" target="_blank" href="https://amzn.to/3qeS1Fe">{{i.name}}</a>
									</div>
									<div class="card-body">
									<div class="clearfix mb-3">
										<span class="float-start badge rounded-pill bg-danger ">Rs.<del>{{i.mark_price}}</del></span>
										<span class="float-start badge rounded-pill bg-success">{{i.discount_percentage}}%</span>
										<span class="float-start badge rounded-pill bg-success">Rs.{{i.price}}</span>

										<span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span>
									</div>
									<h5 class="card-title">
										<a target="_blank" href="#">{{i.desc|truncatewords:20}}</a>
									</h5>

									<div class="d-grid gap-2 my-4">

										<a href="#" class="btn btn-warning bold-btn">add to cart</a>

									</div>
									<div class="clearfix mb-1">

										<span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>

										<span class="float-end">
										<i class="far fa-heart" style="cursor: pointer"></i>

										</span>
									</div>
									</div>
								</div>
								</div>
								{% endfor %}

							</div>
							</div>
							<nav aria-label="Page navigation example" class="d-flex">
			<ul class="pagination ms-auto">
				{% if data.has_previous %}
				  
				<li class="page-item"><a class="page-link" href="?page={{data.previous_page_number}}">Previous</a></li>
				{% endif %}

			    {% for n in num %}
				  

				<li class="page-item "><a class="page-link {% if data.number == n %}
				  active_ho
				{% endif %}" href="?page={{n}}#cate">{{n}}</a></li>
		
				{% endfor %}

				{% if data.has_next %}
				  
			
				<li class="page-item"><a class="page-link" href="?page={{data.next_page_number}}">Next</a></li>
					{% endif %}
			</ul>
			</nav>

					<div class="small text-muted my-4">Images by <a target="_blank" href="https://www.amazon.com/">Amazon</a></div>
											
										</div><!--features_items-->
										
										<div class="category-tab"><!--category-tab-->
											<div class="col-sm-12">
												<ul class="nav nav-tabs">
													<li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
													<li><a href="#blazers" data-toggle="tab">Blazers</a></li>
													<li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
													<li><a href="#kids" data-toggle="tab">Kids</a></li>
													<li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
												</ul>
											</div>
											<div class="tab-content">
												<div class="tab-pane fade active in" id="tshirt" >
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
												</div>
												
												<div class="tab-pane fade" id="blazers" >
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
												</div>
												
												<div class="tab-pane fade" id="sunglass" >
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
												</div>
												
												<div class="tab-pane fade" id="kids" >
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
												</div>
												
												<div class="tab-pane fade" id="poloshirt" >
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="product-image-wrapper">
															<div class="single-products">
																<div class="productinfo text-center">
																	<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
																	<h2>$56</h2>
																	<p>Easy Polo Black Edition</p>
																	<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																</div>
																
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!--/category-tab-->
										
										<div class="recommended_items"><!--recommended_items-->
											<h2 class="title text-center">recommended items</h2>
											
											<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
												<div class="carousel-inner">
													<div class="item active">	
														<div class="col-sm-4">
															<div class="product-image-wrapper">
																<div class="single-products">
																	<div class="productinfo text-center">
																		<img src="{% static 'images/home/recommend1.jpg' %}" alt="" />
																		<h2>$56</h2>
																		<p>Easy Polo Black Edition</p>
																		<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																	</div>
																	
																</div>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="product-image-wrapper">
																<div class="single-products">
																	<div class="productinfo text-center">
																		<img src="{% static 'images/home/recommend2.jpg' %}" alt="" />
																		<h2>$56</h2>
																		<p>Easy Polo Black Edition</p>
																		<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																	</div>
																	
																</div>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="product-image-wrapper">
																<div class="single-products">
																	<div class="productinfo text-center">
																		<img src="{% static 'images/home/recommend3.jpg' %}" alt="" />
																		<h2>$56</h2>
																		<p>Easy Polo Black Edition</p>
																		<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																	</div>
																	
																</div>
															</div>
														</div>
													</div>
													<div class="item">	
														<div class="col-sm-4">
															<div class="product-image-wrapper">
																<div class="single-products">
																	<div class="productinfo text-center">
																		<img src="{% static 'images/home/recommend1.jpg' %}" alt="" />
																		<h2>$56</h2>
																		<p>Easy Polo Black Edition</p>
																		<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																	</div>
																	
																</div>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="product-image-wrapper">
																<div class="single-products">
																	<div class="productinfo text-center">
																		<img src="{% static 'images/home/recommend2.jpg' %}" alt="" />
																		<h2>$56</h2>
																		<p>Easy Polo Black Edition</p>
																		<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																	</div>
																	
																</div>
															</div>
														</div>
														<div class="col-sm-4">
															<div class="product-image-wrapper">
																<div class="single-products">
																	<div class="productinfo text-center">
																		<img src="{% static 'images/home/recommend3.jpg' %}" alt="" />
																		<h2>$56</h2>
																		<p>Easy Polo Black Edition</p>
																		<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
																	</div>
																	
																</div>
															</div>
														</div>
													</div>
												</div>
												<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
													<i class="fa fa-angle-left"></i>
												</a>
												<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
													<i class="fa fa-angle-right"></i>
												</a>			
											</div>
										</div><!--/recommended_items-->
										
									</div>
								</div>
							</div>
						</section>
	
	
{% endblock content %}
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Free E-Commerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/girl1.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>100% Responsive Design</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/girl2.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Free Ecommerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/girl3.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						  
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
											{% for i in cate %}

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Okey ne one
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Nike </a></li>
											<li><a href="#">Under Armour </a></li>
											<li><a href="#">Adidas </a></li>
											<li><a href="#">Puma</a></li>
											<li><a href="#">ASICS </a></li>
										</ul>
									</div>
								</div>
							</div>
													{% endfor %}

						
							
							
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
									<li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
									<li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
									<li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
									<li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
									<li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
									<li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="{% static 'images/home/product1.jpg' %}" alt="" />
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{% static 'images/home/product2.jpg' %}" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{% static 'images/home/product3.jpg' %}" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{% static 'images/home/product4.jpg' %}" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
									<img src="{% static 'images/home/new.png' %}" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{% static 'images/home/product5.jpg' %}" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
									<img src="{% static 'images/home/sale.png' %}" class="new" alt="" />
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="{% static 'images/home/product6.jpg' %}" alt="" />
										<h2>$56</h2>
										<p>Easy Polo Black Edition</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>$56</h2>
											<p>Easy Polo Black Edition</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div><!--features_items-->
					
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tshirt" data-toggle="tab">T-Shirt</a></li>
								<li><a href="#blazers" data-toggle="tab">Blazers</a></li>
								<li><a href="#sunglass" data-toggle="tab">Sunglass</a></li>
								<li><a href="#kids" data-toggle="tab">Kids</a></li>
								<li><a href="#poloshirt" data-toggle="tab">Polo shirt</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tshirt" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="blazers" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="sunglass" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="kids" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="poloshirt" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery2.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery4.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery3.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{% static 'images/home/gallery1.jpg' %}" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend1.jpg' %}" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend2.jpg' %}" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend3.jpg' %}" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend1.jpg' %}" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend2.jpg' %}" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{% static 'images/home/recommend3.jpg' %}" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	